.section-store {
  padding: 25px;
}

.product-card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.product-card:hover {
  transform: translateY(-5px);
  border-color: #000; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); 
}

.product-img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background-color: #f3f3f3;
}
.old-price {
  text-decoration: line-through;
  color: #777;
  font-size: 0.9rem;
}
.discount {
  color: red;
  font-weight: 600;
  margin-left: 5px;
}

.size-option {
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    border-width 0.2s ease;
}

.size-option:hover {
  border: 2px solid #000;
}

.size-selected {
  background-color: #000 !important;
  color: #68ac73 !important;
}
