.section-store {
  padding: 25px;
}

.product-card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.product-card:hover {
  transform: translateY(-5px);
  border-color: #000; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); 
}

.product-img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}
.old-price {
  text-decoration: line-through;
  color: #777;
  font-size: 0.9rem;
}
.discount {
  color: red;
  font-weight: 600;
  margin-left: 5px;
}

.size-option {
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    border-width 0.2s ease;
}

.size-option:hover {
  border: 2px solid #000;
}

.size-selected {
  background-color: #000 !important;
  color: #68ac73 !important;
}

.btn-olimpia {
  background-color: #585FBF;
  color: white;
  border: none;
}

.btn-olimpia:hover {
  background-color: #4A51A8;
}





/* Carrusel: ojo */

.carousel-wrapper {
      max-width: 900px;
      margin: 40px auto;
    }

   
#carouselExample .carousel-inner img {
    height: 450px;
    object-fit: contain; 
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    background-color: #000;
  }


#carouselExample .carousel-control-prev-icon,
#carouselExample .carousel-control-next-icon {
      filter: invert(1);
      background-color: rgba(0, 0, 0, 0.4);
      padding: 20px;
      border-radius: 50%;
    }

#carouselExample {
    margin-top: 80px;  
}

/* Tarjetas de publicidad: ojo */
.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}


.flip-card {
    width: 250px;
    height: 350px;
    perspective: 1000px; 
}

.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;  
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.flip-front img,
.flip-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-back {
    transform: rotateY(180deg);
}
footer {
    background-color: #C2C7F5;
    color: black;
    padding-top: 20px;
    margin-top: auto;
}

footer a {
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

footer li {
    margin: 10px;
}
